@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">
    <div class="content px-4">
        @Body
    </div>
    <footer>
        <p>Copyright (C) SQUARE ENIX CO., LTD. All Rights Reserved.</p>
    </footer>
</div>
